:root {
    --banner-bg-color:#c07f4a;
    --nav-bg-color: #edece9;
}

html {
    height: 100%;
}

p {
    font-size: small;
}

#motto {
    font-size: medium;
    font-style: italic;
    color: #200;
}

a:link {
    color: black;
    -webkit-transition: color .5s linear;
    -moz-transition: color .5s linear;
    -ms-transition: color .5s linear;
    -o-transition: color .5s linear;
    transition: color .5s linear;
}

a:visited {
    color: #c5752b;
}

a:hover, 
a:active  {
    color: #c07f4a!important;
}

.link-logo {
    color: #000;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

body {
    background: url('/media/home_bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato', sans-serif;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black!important;
    color: white!important;
    min-width: 160px;
}

.btn-black {
    background: black;
    color: white;
    outline: 2px solid black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.btt-button {
    height: 36px;
    width: 36px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.text-black {
    color: #000 !important;
}

.text-cart {
    color: #be6132!important;  
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -2;
}

.nav-item {
    font-size: medium;
}

.font-md {
    font-size: small;
}

/* -------------------------------- Products */

.star {
    color: var(--banner-bg-color);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    text-align: center;
}

a.category-badge > span.badge:hover {
    background: #c07f4a !important;
    color: #fff !important;
}

.form-control:focus {
    border-color: #c07f4a!important;
    box-shadow: 0 0 0 0.2rem rgba(201, 184, 139, 0.25)!important;
}

/* -------------------------------- Navbar Styles */

#delivery-banner {
    background-color: var(--banner-bg-color);
}

#topnav {
    background-color: var(--nav-bg-color);
}
.navbar {
    background-color: var(--nav-bg-color);
}

/* ------------------------------- Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .navbar {
        padding: 0!important;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .text-index {
        padding-top: 75%;
    }
}    
