<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- <li class="nav-item">
            <a class="link-logo nav-link text-black mr-4 pt-0" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li> -->
        <li class="nav-item dropdown">
            <a class="link-logo nav-link text-black mr-4 pt-0" href="#" id="all-products-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc"
                    class="dropdown-item font-weight-light link-font">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc"
                    class="dropdown-item font-weight-light link-font">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc"
                    class="dropdown-item font-weight-light link-font">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item font-weight-light link-logo">All Products</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="link-logo nav-link text-black mr-4 pt-0" href="{% url 'products' %}?category=analog" id="analog-link">
                Analog
            </a>
        </li>
        <li class="nav-item">
            <a class="link-logo nav-link text-black mr-4 pt-0" href="{% url 'products' %}?category=digital" id="digital-link">
                Digital
            </a>
        </li>
        <li class="nav-item">
            <a class="link-logo nav-link text-black mr-4 pt-0" href="{% url 'products' %}?category=straps" id="straps-link">
                Straps
            </a>
        </li>
        <li class="nav-item ">
            <a class="link-logo nav-link text-black mr-4 pt-0" href="{% url 'products' %}?category=collection" id="collection-link">
                New collection
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="link-logo nav-link text-black mr-4 pt-0" href="#" id="search-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Search
            </a>
            <div class="dropdown-menu border-0 p-0" aria-labelledby="Search">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q"
                            placeholder="Search">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
    </ul>
</div> 