{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container text-center mx-auto">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <h2 class="logo-font mb-4 mt-4">About Us</h2>
            <img class="origin"
                src="https://res.cloudinary.com/ddrsbzhmf/image/upload/v1611880333/timeless/about_us_vhoql5.jpg"
                alt="origin">
            <h4 class="text-muted link-font mb-3 mt-4 ">Timeless Men Watches</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 mx-auto mb-5 px-5">
            <p><strong><em>VINTAGE INSPIRATION, MODERN DESIGN</em></strong></p>
            <p>In our quest to find a balance between classic design, timeless class, 
                luxury feel and contemporary utility, we have drawn our watch inspiration from vintage watches, 
                which left a mark on the industry with their innovation, originality and simplistic design.
                We now look to the future and strive to reinvent and rethink the fundamental purpose and requirements of a wristwatch, suitable for everyday use in the 21st century.
                <br><br>
                In our effort to do so, we focus on what works and have rethought what needs to change in order to create a vintage inspired watch with modern utilitarian design.
                <br><br>
                Sincerely,<br>
                John Smith, CEO
            </p>
        </div>
    </div>
</div>
{% endblock %}